{% load static %}
<div class="header flex flex-row items-center justify-center gap-4 border-b border-gray-200 p-2">
    <div class="flex-1 flex justify-start">
        <div class="flex flex-row items-center gap-2 rounded-md p-2 hover:cursor-pointer hover:bg-gray-100 rounded-md transition-all duration-100">
            <a href="/" class="text-reset text-decoration-none flex flex-row items-center gap-2">
                <img src="{% static 'img/logo.png' %}" alt="logo" class="w-8 h-8 rounded-full">
                <span class="font-bold text-xl">CalorieMeter</span>
            </a>
        </div>
    </div>
    <div class="flex-1 flex justify-center gap-2">
        {% for content in header_contents %}
        <div class="">
            <a href="{{ content.href }}" class="btn btn-light border border-gray-500">
                <button class="flex flex-row items-center gap-2">
                    <i data-lucide="{{ content.icon }}" class="w-4 h-4"></i>
                    <span class="">{{ content.label_ja }}</span>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="flex-1 flex justify-end gap-2">
        <a href="/upload" class="btn btn-light border border-gray-500">
            <button class="flex flex-row items-center gap-2">
                <i data-lucide="plus-circle" class="w-8 h-8"></i>
                <span class="text-sm">Upload</span>
            </button>
        </a>
        <dropdown class="dropdown-center">
            <button class="flex flex-row items-center gap-2 hover:bg-gray-100 rounded-md hover:cursor-pointer p-2" data-bs-toggle="dropdown">
                <i data-lucide="bell" class="w-8 h-8"></i>
            </button>
            <ul class="dropdown-menu">
                {% for notification in notifications %}
                <li><a class="dropdown-item" href="#">{{ notification.title }}</a></li>
                {% endfor %}
              </ul>
        </dropdown>
        <dropdown>
            <button class="hover:bg-gray-100 rounded-full hover:cursor-pointer p-2" data-bs-toggle="dropdown">
                <img src="{{ user.profile.avatar.url }}" alt="avatar" class="w-8 h-8 rounded-full">
            </button>
            <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">ダミーの項目</h6></li>
                <li><a class="dropdown-item" href="#">マイページ</a></li>
                <li><a class="dropdown-item" href="#">設定</a></li>
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">ログアウト</button></li>
              </ul>
        </dropdown>
    </div>
</div>

<!-- Logout Modal -->
<div class="modal" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">ログアウト</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>本当にログアウトしますか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ログアウト</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
            </div>
        </div>
    </div>
</div>

<script>
    lucide.createIcons();
</script>